@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;700;900&display=swap");
.flex { display: flex; }

.flex-jcc { display: flex; justify-content: center; }

.flex-jcc-aic { display: flex; justify-content: center; align-items: center; }

.flex-jcsb { display: flex; justify-content: space-between; }

.flex-jcsb-aic { display: flex; justify-content: space-between; align-items: center; }

.flex-jcsb-aie { display: flex; justify-content: space-between; align-items: flex-end; }

* { margin: 0; padding: 0; box-sizing: border-box; color: #181818; }

body { font-family: Inter; }

nav { background-color: white; border-bottom: 0.05208vw solid white; height: 5.20833vw; display: flex; align-items: center; }

nav .logo { font-style: normal; font-weight: 600; font-size: 1.25vw; line-height: 1.51042vw; text-transform: uppercase; margin-right: auto; }

nav .nav-link { text-decoration: none; margin-left: 1.04167vw; font-family: 'Montserrat'; font-style: normal; font-weight: 500; font-size: 1.04167vw; line-height: 1.25vw; }

nav .nav-link:hover { color: #0C3BDC; }

.container { width: 67.1875vw; margin: 0 auto; }

.text-color-blue { color: #0C3BDC; }

footer { height: 4.16667vw; margin-top: 4.6875vw; }

.header { margin-top: 2.08333vw; max-width: 33.17708vw; }

.header-img { max-width: 34.375vw; max-height: 22.03125vw; min-width: 34.375vw; min-height: 22.03125vw; }

.header-title { font-style: normal; font-weight: 600; font-size: 2.5vw; line-height: 3.02083vw; }

.header-subtitle { font-style: normal; font-weight: 500; font-size: 0.83333vw; line-height: 1.04167vw; margin: 1.04167vw 0; }

.header .button { display: flex; background-color: #0C3BDC; color: #FDFDFD; justify-content: center; align-items: center; font-style: normal; font-weight: 600; font-size: 0.9375vw; line-height: 1.14583vw; text-decoration: none; width: 11.45833vw; height: 3.33333vw; }

.header .button:hover { background-color: #2856f3; }

.header .social { margin-top: 1.04167vw; }

.header .social-link { margin-right: 0.26042vw; width: 1.875vw; height: 1.875vw; }

.header .social-link:hover { transform: scale(1.1); }

.about { margin-top: 4.6875vw; }

.about-title { width: 36.25vw; height: 6.14583vw; font-family: 'Montserrat'; font-style: normal; font-weight: 600; font-size: 2.5vw; line-height: 3.07292vw; text-align: center; margin: 0 auto; }

.about-underline { width: 15.36458vw; margin-left: 20.83333vw; }

.about-cards { margin-top: 2.60417vw; }

.about-card { width: 18.22917vw; height: 10.41667vw; background-color: #F4F4F4; flex-direction: column; }

.about-card-img { width: 2.91667vw; height: 2.91667vw; }

.about-card-text { font-style: normal; font-weight: 600; font-size: 1.25vw; line-height: 1.51042vw; }

.services { margin-top: 4.6875vw; }

.services-title { font-style: normal; font-weight: 600; font-size: 2.5vw; line-height: 3.02083vw; text-align: center; }

.services-img { width: 30.05208vw; height: 22.55208vw; }

.services-list { max-width: 36.45833vw; min-width: 36.45833vw; }

.services-list-item { display: flex; justify-content: space-between; align-items: center; font-style: normal; font-weight: 500; font-size: 1.25vw; line-height: 1.04167vw; margin-top: 0.52083vw; }

.contact { display: flex; flex-direction: column; }

.contact__map { position: relative; padding-left: 1.5625vw; padding-bottom: 1.5625vw; padding-top: 1.5625vw; }

.contact__map_bg { position: absolute; top: 0; left: 0; width: 31.25vw; height: 24.21875vw; z-index: -1; background: #0C3BDC; padding-bottom: 1.5625vw; }

.contact-title { margin-top: 2.60417vw; margin-bottom: 2.60417vw; font-style: normal; font-weight: 600; font-size: 2.5vw; line-height: 3.02083vw; text-align: center; }

.contact__info { display: flex; flex-direction: column; justify-content: center; margin-right: 0.78125vw; }

.contact__info_elem { display: flex; align-items: center; margin-bottom: 1.5625vw; }

.contact__info_elem_image { margin-right: 1.5625vw; }

.contact__info_elem_image img { width: 1.875vw; height: 1.875vw; }

.contact__info_elem_details h4 { font-size: 1.66667vw; font-weight: 600; }

.contact__info_elem_details a, .contact__info_elem_details p { font-size: 1.25vw; font-weight: 600; text-decoration: none; }

.ymaps3x0--map, iframe { width: 31.25vw !important; height: 20.83333vw !important; }

/*# sourceMappingURL=style.css.map */