{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Твой сервис {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/common/favicon.svg' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/common/favicon.svg' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href=" {%  sass_src  'main/style.scss'  %}" rel="stylesheet" type="text/css" />
    <meta name="description" content="We create websites and branding for grow your business.">
</head>

<body>
    <nav>
        <div class="container">
            <div class="flex-jcc-aic">
                <div class="logo">Твой<span class="text-color-blue">Сервис</span></div>
                <a href="#" class="nav-link">Главная</a>
                <a href="#" class="nav-link">О нас</a>
                <a href="#" class="nav-link">Наши услуги</a>
                <a href="#" class="nav-link">Контакты</a>
            </div>

        </div>
    </nav>

        {% block content %}

        {% endblock %}

    <footer>
    </footer>

</body>
</html>